# Project Configuration
PROJECT_NAME=scalable-us-health-scraper
DEBUG=True

# Databases
DATABASE_URL=postgresql+asyncpg://scraper:scraper_password@localhost:5432/health_leads
MONGODB_URI=mongodb://localhost:27017/
MONGODB_DB_NAME=health_leads_raw

# Celery
CELERY_BROKER_URL=redis://localhost:6380/0
CELERY_RESULT_BACKEND=redis://localhost:6380/1

# Reddit Scraper Settings (specific to Reddit)
REDDIT_BASE_URL=https://old.reddit.com
SUBREDDITS_FILE_PATH=subreddits.txt
SCRAPE_POST_LIMIT=100
DELAY_BETWEEN_SCRAPES=1.5  # Seconds

# Proxy Configuration (Comma-separated list of proxies, e.g., http://user:pass@proxy1:port,http://user:pass@proxy2:port)
# Leave empty for direct IP connection.
PROXY_LIST=
